# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Cloud Run / GCP
*.yaml
*.json # If storing service account keys locally (generally bad practice)

# Other
*.log
